@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.column {
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white !important;

    .border-bottom {
        border-color: #ebeaf2 !important;
    }


    .items-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .dropdown-toggle {
            cursor: pointer;
            color: blue;

            .items-title {
                font-size: 20px;
                color: #212529;
                font-weight: 550;
            }

        }

        .dropdown-item {
            font-size: 12px;
            align-items: center;
            text-align: left;

            &:hover {
                background-color: #408DFB;
                color: white;

                &:last-child {
                    background-color: white;
                    color: #408DFB;
                }
            }
        }

        .newItemButton {
            border-radius: 5px;
            border: none;
            background: #FD9134;
            margin-left: 16px;
            padding: 4px 8px;
            align-items: center;
            color: white;

            span {
                font-size: 12px;
            }
        }

        .threeDotsButton {
            border-radius: 5px;
            border: 1px solid #d1d0d0;
            background: #F5F5F5;
            margin-left: 12px;
            padding: 4px 8px;
            align-items: center;
            color: black;
            font-size: 13px;

        }
        .dropdown-toggle.threeDotsButton::after {
            display: none !important;
    }


    }

    .items-list {
        height: 90vh;
        overflow: auto;
        // padding: 10px 20px;
        align-items: center;
        cursor: pointer;
        padding: 20px;

        .rounded-xs {
            border-radius: 4px;
        }

        .text-black-semibold {
            color: #21263c;
        }

        .text-medium {
            font-weight: 500;
        }

        .text-muted {
            font-size: 11px;
        }

        .font-medium {
            font-size: 13px;
        }
    }


    .Item-table {

        .table-responsive {
            // overflow: auto;
            // width: 100%;
            height: 475px;

            table {
                // width: auto;
                width: 100%;
                /* Ensure the table takes up the available width */
                border-collapse: collapse;
                overflow: auto;
                table-layout: fixed;
                /* Ensure consistent column widths */

                tbody {
                    /* position: absolute;
                    top: 290px!important; */
                    // overflow-y: auto;
                    // height: 458px;
                    max-height: 460px;
                    
                    /* z-index: 100;
                      max-height: 470px; Adjust the maximum height as needed */
                }

                th,
                td {
                    padding: 8px;
                    text-align: left;
                    white-space: nowrap; // Prevent text wrapping in smaller screens
                    text-overflow: ellipsis; //Prevent text wrapping in smaller screens
                    border-right: none;
                    border-left: none;
                }

                thead {
                    position: relative;
                    position: sticky;
                    top: -1px;

                    th {
                        // overflow: auto;
                        z-index: 500;
                        text-align: center;
                        background-color: #f4f4f4;
                        font-size: 11px;
                        // font-weight: 550;
                        color: #212529;
                    }
                }

                td {
                    height: 80px !important;
                    max-height: 90px !important;
                    min-height: 60px !important;
                    min-width: 80px;
                    max-width: 120px; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    font-size: 13px;
                    text-align: center !important;
                    align-content: center;
                    &:hover{
                        cursor: pointer;
                        color: #408DFB;
                    }
                }


                button {
                    background-color: #f44336;
                    color: white;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;

                    &:hover {
                        background-color: #d32f2f;
                    }
                }
            }

            .pagination-controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                label {
                    margin-right: 10px;
                }

                select {
                    margin-right: 20px;
                }
            }

            .footer-content {
                display: flex;
                /* or grid */
                justify-content: space-between;
                /* Aligns items to the start and end of the container */
                align-items: center;
                width: 208vh;
                padding-left: 8px !important;
                font-size: 13px !important;

                .total-items {
                    span {
                        cursor: pointer;
                    }
                }

                .page-toggle {
                    border-radius: 5px;
                    border: none;
                    font-size: 13px;
                    background: rgb(233, 235, 243);
                    margin-right: 8px;
                    padding: 5px;

                }
                .dropdown-item {
                    font-size: 13px;

                    &:hover {
                        background-color: #408DFB;
                        color: white;
                    }

                }

                .page-link {
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }

    }

}