.container{
    box-sizing: border-box;
}

.custom-container {
    height: 700px; /* set your desired height */
    width: 900px;  /* set your desired width */
  }

.eye{
    margin-left: 220px;
    margin-top: 1px;
}

.container .form-floating {
    width: 90%;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
}

.container .input-group {
    width: 90%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 14px;
  }
  
  .input-group>input{
  width: 60%;
  }
  .input-group>button{
  width: 40%;
  }
  
.image{
    margin-bottom: 15px;
}

.valid {
    color: green;
  }
  
  .invalid {
    color: red;
  }


.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
    height: calc(2rem + calc(var(--bs-border-width) * 1));
    min-height: calc(2.85rem + calc(var(--bs-border-width) * 1));
    line-height: 1;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating):not(input) {
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
  }
  
  #button-addon2{
    margin-bottom: 10px !important;
    text-align: center;
  }
  
 /* You can add global styles to this file, and also import other style files */
 .btn-enabled {
    background-color: var(--enablebtn-bg-color); /* Set your desired color for enabled state */
    color: var(--enablebtn-txt-color); /* Set your desired text color for enabled state */
  }
  
  /* Define a style for disabled buttons */
  .btn-disabled {
    background-color: var(--disablebtn-bg-color); /* Set your desired color for disabled state */
    color: var(--disablebtn-txt-color); /* Set your desired text color for disabled state */
  }

  svg{
    width: 15px;
    height: 15px;
  }


.forgot-password{
    position: absolute;
    right: 6px;
    bottom: 0;
}
.forgot-password .click:hover{
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width: 767px){
    .custom-container {
        height: 400px; 
        width: 500px;  
      }
      .eye{
        margin-left: 310px;
    }
    
}

@media screen and (max-width: 576px){
    .custom-container {
        height: 300px; 
        width: 400px;  
    }
    .eye{
        margin-left: 220px;
    }
    
}

@media screen and (max-width: 480px){
    .custom-container {
        height: 200px; 
        width: 380px;  
    }
    .eye{
        margin-left: 210px;
    }
    
    .popup {
        border: 1px solid #ccc;
        padding: 15px;
        background-color: #fff;
        width: 300px;
        text-align: center;
      }
      .showPopup{
        display: flex;
        justify-content: center;
      }
}
