<div class="column">
    <div class="Organization-header border-bottom ghostwhite-bg">
        <div class="Organization-section">
            <div class="Organization-title">My Organization</div>

            <!-- </div> -->
            <span class="justify-content-end d-flex align-items-center">
                <!-- <img class="dashboard-image rounded-xs me-2" src="../../../assets/dashboard.png" alt="">  -->
                <span class="setting-icons me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#5f6368">
                        <path
                            d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z" />
                    </svg>
                    manage
                </span>
                <span style="font-size: 18px;" class="me-2">|</span>
                <svg style="height: 12px; margin:4px; cursor:pointer " (click)="closeOrganization()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon-xs"><path fill="#fe4242" d="M318.9 243.3L457 105.2c13.7-13.7 13.7-36 0-49.7l-.5-.5c-13.7-13.7-36-13.7-49.7 0L268.7 193.1c-6.9 6.9-18.2 6.9-25.1 0L105.2 55c-13.7-13.7-36-13.7-49.7 0l-.5.5c-13.7 13.7-13.7 36 0 49.7l138.1 138.1c6.9 6.9 6.9 18.2 0 25.1L55 406.8c-13.7 13.7-13.7 36 0 49.7l.5.5c13.7 13.7 36 13.7 49.7 0l138.1-138.1c6.9-6.9 18.2-6.9 25.1 0L406.5 457c13.7 13.7 36 13.7 49.7 0l.5-.5c13.7-13.7 13.7-36 0-49.7L318.6 268.7c-6.6-7.4-6.6-18.3.3-25.4z"></path></svg>
            </span>
        </div>

    </div>


    <div class="Organization-list">
        <div class="text-left border-bottom ">
            <div class="pt-6 pb-3 d-flex px-2">
                <img class="customerCareImage rounded-xs me-0" src="../../../assets/Invoicelogo_Customer Care.png">
                <div class="ms-3">
                    <div class="text-medium font-medium mb-n1 text-black-semibold">Imast Operations Private Limited
                    </div>
                    <div class="text-muted">
                        Organization ID: 60002299436</div>
                </div>
                    <span class="ms-auto">
                        <img style="height: 20px;" src="../../../assets/checkmark.png" alt="">
                </span>
            </div>
        </div>
    </div>
</div>