@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.column {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f9f9fb !important;

    .border-bottom {
        border-color: #ebeaf2 !important;
    }

    .ghostwhite-bg {
        background-color: #f7f7fe !important;
    }

    .setting-icons {
        font-size: 12px;
        cursor: pointer;
    }

    .Organization-section {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        

        .Organization-title {
            font-size: 18px;
            color: #21263c;
            font-weight: 500;
        }

    }

    .Organization-list{
        height: 90vh;
        overflow: auto;
        // padding: 10px 20px;
        align-items: center;
        cursor: pointer;
        padding: 20px;
    
        .customerCareImage {
            width: 11%;
            height: 11%;
        }
        .rounded-xs{
            border-radius: 4px;
        }
        .text-black-semibold {
            color: #21263c;
        }
        .text-medium{
            font-weight: 500;
        }
        .text-muted{
            font-size: 11px;
        }
        .font-medium{
            font-size: 13px;
        }
    }
    
    .text-black-semibold {
        color: #21263c;
    }

    }
