.txnhistory{
    padding: 20px;
    overflow: auto;
    flex-grow: 1;
    position: relative;
    height: calc(100vh - 155px);

    // .bar {
    //     padding: 20px 0 15px 15px;
    // }

    .icon-button{
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid rgb(179, 177, 177);
    }
}