<section class="vh-100">
    <div class="container custom-container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block banner">
                    <img src="../../../assets/banner.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;">
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-3 p-lg-4 text-black">
                    
                    <div class="text-center">
                        <img class="" src="../../../assets/Logo.png" alt="Company Logo" height="40px">
                    </div>
  
  
                  <div *ngIf="!passwordResetSuccessful">
                    <div class="text-center success" *ngIf="userSuccess"><span><i class="fa fa-check-circle"
                      aria-hidden="true"></i> {{userSuccess}}</span></div>
                      <div class="text-center error" *ngIf="userError"><span><i class="fa fa-exclamation-circle"
                        aria-hidden="true"></i> {{userError}}</span></div>
                        
                        <div *ngIf="!resetPasswordSuccess">
                        <form [formGroup]="getUsernameForm" (ngSubmit)="resetPassword()">
                          <h6 class="text-center my-3">Reset Password</h6>
                          <div class="form-floating text-secondary">
                            <input type="text" id="username" class="form-control" formControlName="username" placeholder="username" name="username" [ngClass]="{'is-invalid': getUsernameForm.get('username')?.invalid && getUsernameForm.get('username')?.touched}" required />
                            <label for="username">username:</label>
                            <div
                            *ngIf="getUsernameForm.get('username')?.invalid && (getUsernameForm.get('username')?.dirty || getUsernameForm.get('username')?.touched)"
                            class="error mt-1">
                            <span *ngIf="getUsernameForm.get('username')?.errors?.['required']"> *username is
                              required.</span>
                            <span
                              *ngIf="getUsernameForm.get('username')?.errors?.['invalidUsername'] && (getUsernameForm.get('username')?.dirty && getUsernameForm.get('username')?.touched)">*Invalid
                              email or mobile format.</span>
                          </div>
                          </div>
                          
                      
  
                          <div class="text-center my-3">
                            <button type="submit" [disabled]="getUsernameForm.invalid"
                            [ngClass]="{'btn-enabled': getUsernameForm.valid, 'btn-disabled': getUsernameForm.invalid}" class="btn">generate OTP<i class="fa fa-angle-double-right ms-2" aria-hidden="true"></i></button>
                          </div>
                          
                        <div *ngIf="updateMessage" class="alert alert-success" role="alert">{{ updateMessage }}</div>
  
                        </form>
                      </div>
                    
                      <div class="text-center error" *ngIf="authError"><span><i class="fa fa-exclamation-circle"
                        aria-hidden="true"></i> {{authError}}</span></div>
                        <div class="text-center success" *ngIf="sendOtpAgain"><span><i class="fa fa-check-circle"
                          aria-hidden="true"></i> {{sendOtpAgain}}</span></div>
  
                        <div *ngIf="resetPasswordSuccess">
                          <h6 class="text-center">Reset Password</h6>
                      
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="verifyResetPassword()" class="text-secondary" >
                              <!-- (ngSubmit)="resetPasswordData()" -->
                              <div class="input-group mt-1">
                                <input type="text" id="otp" name="otp" placeholder="OTP" class="form-control" formControlName="otp" maxlength="6" minlength="6" style="height: 40px;" [ngClass]="{'is-invalid': resetPasswordForm.get('otp')?.invalid && resetPasswordForm.get('otp')?.touched}" required aria-label="Recipient's username" aria-describedby="button-addon2" pattern="[0-9]*" (input)="onOtpInputChange($event)">
                                <button class="btn btn-secondary" type="button" id="button-addon2" style="height: 40px;" [disabled]="isResendDisabled" [ngClass]="{'btn-enabled':!isResendDisabled,'btn-disabled':isResendDisabled}" (click)="resendOtp()">{{ isResendDisabled ? timeFormat : 'Resend OTP' }}</button>
                                <!-- <button class="btn btn-secondary" type="button" id="button-addon2" style="height: 48px;" [disabled]="isResendDisabled" [ngClass]="{'btn-enabled':!isResendDisabled,'btn-disabled':isResendDisabled}" (click)="resendOtp()"> {{ isResendDisabled ? timeFormat : 'Resend OTP' }}</button> -->
  
                                <div *ngIf="resetPasswordForm.get('otp')?.invalid && (resetPasswordForm.get('otp')?.dirty || resetPasswordForm.get('otp')?.touched)" class="error" style="margin-top: -8px; margin-bottom: 10px;">
                                  <span *ngIf="resetPasswordForm.get('otp')?.errors?.['required']"> *otp is required.</span>
                                    <span *ngIf="resetPasswordForm.get('otp')?.errors?.['pattern'] && (resetPasswordForm.get('otp')?.dirty && resetPasswordForm.get('otp')?.touched) ">Invalid OTP format.</span>
                                </div>
                              </div>
                              
                              <div class="form-floating mt-2">
                                <input type="password" type="{{ hide ? 'password' : 'text' }}" id="newPassword" name="newPassword" placeholder="new password" class="form-control" formControlName="newPassword" [ngClass]="{'is-invalid': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched}" #newPassword required (input)="onPasswordInputChange($event)"/>
                                <label for="newPassword">set password:</label>
  
                                <p class="eye mt-1" (click)="hide = !hide" >
                                  <i *ngIf="hide" class="fa-regular fa fa-eye-slash"></i><i *ngIf="!hide" class="fa-regular fa fa-eye"></i>
                                </p>
                                
                                
                                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)" class="error" style="margin-top:-16px ; margin-bottom:-10px;">
                                  <span *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"> *newPassword is required.</span>
                                </div>
                                <!-- <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('invalidInput')" class="error">
                                  Only Alphanumeric, &#64;, #, $, %, and _ allowed.
                                </div> -->
                              </div>
                              <div class="form-floating mt-4">
                                <input type="password" type="{{ confirmhide ? 'password' : 'text' }}" id="confirmPassword" name="confirmPassword" placeholder="confirm password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched}" required pattern="{{ newPassword.value }}"/>
                                <label for="confirmPassword">confirm password</label>
  
                                <p class="eye my-1" (click)="confirmhide = !confirmhide" >
                                  <i *ngIf="confirmhide" class="fa-regular fa fa-eye-slash"></i><i *ngIf="!confirmhide" class="fa-regular fa fa-eye"></i>
                                </p>
  
                                <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)" class="error" style="margin-top:-16px ; margin-bottom:6px;">
                                  <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']"> *confirmPassword is required.</span>
                                </div>
                                <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty && resetPasswordForm.get('confirmPassword')?.touched)" class="error mt-1">
                                  <span *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required'] || resetPasswordForm.get('confirmPassword')?.errors?.['pattern'] ">Password doesn't match.</span>
                                  </div>
                                </div>
                                <div class="text-center my-2">
                                  <button type="submit" style="width: 170px;" class="btn" [disabled]="!isButtonClickable()" [ngClass]="{'btn-enabled': isButtonClickable(), 'btn-disabled': !isButtonClickable()}">Reset Password <i class="fa fa-angle-double-right ms-2" aria-hidden="true"></i></button>
                                </div>
                                
                                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty && resetPasswordForm.get('newPassword')?.touched)"  class="error">
                                  <!-- || resetPasswordForm.get('newPassword')?.hasError('invalidInput')" -->
                                  <p class="invalid">Password should be minimum 8 charactor, which includes:-</p>
                                  <li class="indicator" [ngClass]="resetPasswordForm.get('newPassword')?.errors?.['required']||resetPasswordForm.get('newPassword')?.errors?.['minlength'] ? 'invalid':'valid'">Minimum 8 charactor, </li>
                                  <li class="indicator" [ngClass]="resetPasswordForm.get('newPassword')?.errors?.['required']||resetPasswordForm.get('newPassword')?.errors?.['hasUppercase'] ? 'invalid':'valid'">One letter should be in uppercase, </li>
                                  <li class="indicator" [ngClass]="resetPasswordForm.get('newPassword')?.errors?.['required']||resetPasswordForm.get('newPassword')?.errors?.['hasAlphanumeric'] ? 'invalid':'valid'">should be alphanumeric, </li>
                                  <li class="indicator" [ngClass]="resetPasswordForm.get('newPassword')?.errors?.['required']||resetPasswordForm.get('newPassword')?.errors?.['hasSpecialChar'] ? 'invalid':'valid'">Only $, &#64;, #, _, %, * is allowed </li>
                                </div>
                              </form>
                          </div>
                        </div>
  
                        <div *ngIf="passwordResetSuccessful" >
                          <!-- <div class="alert alert-success my-3" role="alert">
                          </div> -->
                          <div class="text-center my-3">
                            <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 80px; color: #24a324;"></i>
                            <!-- <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 80px; color: #24a324;"></i> -->
                            <p style="font-size: 18px; line-height: 3;">{{passwordReset}}</p>
                            <button routerLink="/" class="btn btn-enabled" style="width: 120px;">Login <i class="fa fa-angle-double-right ms-2" aria-hidden="true"></i></button>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  
  
  
  